In [5]:
import pandas as pd

df = pd.read_csv("eda.csv")

# adding zip code data
df_zip = pd.read_csv("zip_names.csv")
df2 = df.merge(df_zip, on='zipcode', how='left')

df2.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,lat,long,sqft_living15,sqft_lot15,date,price,house_id,id.1,city,central_flag
0,7129300520,3.0,1.00,1180.0,5650.0,1.0,NaN,0.0,3,7,...,47.5112,-122.257,1340.0,5650.0,2014-10-13,221900.0,7129300520,1,Seattle,False
1,7129300520,3.0,1.00,1180.0,5650.0,1.0,NaN,0.0,3,7,...,47.5112,-122.257,1340.0,5650.0,2014-10-13,221900.0,7129300520,1,Tukwila,False
2,6414100192,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3,7,...,47.7210,-122.319,1690.0,7639.0,2014-12-09,538000.0,6414100192,2,Seattle,False
3,5631500400,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3,6,...,47.7379,-122.233,2720.0,8062.0,2015-02-25,180000.0,5631500400,3,Kenmore,False
4,5631500400,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3,6,...,47.7379,-122.233,2720.0,8062.0,2015-02-25,180000.0,5631500400,3,Bothell,False

### Main Questions:

What are the top 10% central properties we sell?

Identify which zip is central? 
Identify which zip is expensive?
Which properties are the best to hide in?